
body {
	font-family: Arial, sans-serif;
}

.top-bar {
	align-items: center;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
.top-bar .zing-logo-container {
	grid-column: 3/4;
}

.zing-logo-container .zing-logo {
	background-image: url('./picture/logo-zing.svg');
	width: 100px;
	height: 32px;
	background-size: cover;
	background-repeat: no-repeat;
}

.search-bar {
	grid-column: 5/9;
}

.search-input .fas {
	position: absolute;
	margin: 6px 5px;
}


.search-input .search-content {
	padding: 8px 25px;
	border: 1px solid #ccc;
	border-radius: 2px;
	min-width: 435px;
}

.search-input .search-content::placeholder {
	font-size: 12px;
}

.search-input .search-content:focus {
	outline-color: #ccc;
	outline-width: 0px;
}

.login-bar {
	display: flex;
	align-items: center;
	grid-column: 9/11;
	place-self: end;
}

.login-bar .avatar {
	width: 40px;
	height: 40px;
	border: 1px solid #FFF;
	border-radius: 50px;
	background-size: cover;
}

.login-bar .text {
	font-weight: bold;
	margin-left: 10px;
	margin-right: 30px;	
	text-decoration: none;
	color: #000;
}

.login-bar .dropdown-icon {
	display: flex;
	align-items: center;
	color: #AAA;
}

.login-bar .dropdown-icon:hover {
	color: #65509e;
}

.login-bar .text:hover {
	color: #6e55b4;
}


.sub-login {
	border: 1px solid #FFF;
	width: 200px;
	height: auto;
	padding: 10px 0;
	box-shadow: 0 0 6px #AAA;
	display: none;
	background-color: #FFF;
}

.sub-login a {
	text-decoration: none;
	color: #000;
}

.sub-login .brightness-container {
	border-bottom: 1px solid #DDD;
	padding-bottom: 10px;
}

.brightness-container .brightness-bar {
	display: flex;
	align-items: center;
	padding: 0 10px;
}

.brightness-bar .brightness-icon {
	border: 1px solid #FFF;
	background-color: rgb(160, 160, 160);
	border-radius: 20px;
	width: 25px;
	height: 25px;
	background-image: url('./picture/moon.svg');
	background-size: 15px;
	background-position: center;
	background-repeat: no-repeat;
}

.brightness-bar .brightness-text {
	flex-grow: 1;
	margin-left: 10px;
}
.brightness-bar .brightness-button {
	width: 25px;
	height: 25px;
	background-image: url('./picture/switch-off.svg');
	background-size: cover;
}

.sub-login .brightness-bar:hover {
	color: #65509e;
    background-color: #efefef;
}

.sub-login .brightness-bar:hover .brightness-icon{
	background-color: #65509e;
}

.vip-container {
	padding-top: 13px;
}

.vip-button-wrapper {
	padding: 10px 10px;
	text-align: center;
}

.vip-button-wrapper .vip-button {
	border: 1px solid #DDD;
	background-color: #f8e71c;
	border-radius: 5px;
    color: #32323d;
    padding: 10px 10px;
}

.vip-button-wrapper .vip-button:hover {
	background-color: #fcfcfc;
    border-color: #fcfcfc;
    color: #6e55b4;
    box-shadow: 0 0 6px #AAA;
}


.container-login .login-bar {
	position: relative;
}

.container-login .sub-login {
	position: absolute;
}

.menu-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}


.menu-container .top-menu {
	display: flex;
	padding: 0;
	list-style-type: none;
	grid-column: 3/10;
}

.menu-container .top-menu .main-menu {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #32323d;
}
.top-menu .current-page {
	color: #65509e!important;
	border-bottom: 2px solid #65509e;
}

.top-menu .list-default{
	padding: 8px 13px;
}

.top-menu .list-default .main-menu{
	padding: 15px 0px;
}

.top-menu .list-default .main-menu:hover {
	color: #65509e;
	border-bottom: 2px solid #65509e;
	border-spacing: 1px;
}

.sub-menu-container {
	box-shadow: 0 0 6px #AAA;
	background-color: #FFF;
	width: 100%;
	display: flex;
	margin-top: 16px;
	padding: 15px 0;
	display: none;
	position: absolute;
	max-width: 600px;
	font-size: 14px;
	z-index: 1;
}

.sub-menu-container .sub-menu {
	padding: 0;
	flex-grow: 1;
}

.sub-menu-container .sub-menu li {
	list-style-type: none;
	margin: 10px 0;
}

.sub-menu-container .sub-menu li .hover-element {
	text-decoration: none;
	display: block;
	color: #32323d;
	padding: 8px 8px;
}

.sub-menu-container .sub-menu li .title {
	padding: 0 8px;
}

.sub-menu li .hover-element:hover {
	color: #65509e;
	background-color: #efefef;
}

.sub-menu .title {
	font-weight: bold;
	text-decoration: none;
	color: #32323d;
}

.list-default:hover .sub-menu-container {
	display: flex;
}

.list-default .icon-vip {
	background-image: url('./picture/vip-button.svg');
	height: 25px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s;
}

.list-default .icon-vip:hover {
	opacity: .8;
}

/*================================================*/
.slideshow-container {
	height: 340px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.slides {
	grid-column: 3/11;
	display: flex;
	overflow: hidden;
}

.slides .slide {
  width: 100%;    
  flex-shrink: 0;                          
/*  display: flex;   */     
  animation: slide-it 30s infinite;
}

.slide img {
	max-width: 100%;
	height: auto;
}
@keyframes slide-it {
   0%,17%   { transform: translateX(0%);}
   20%,37% { transform: translateX(-100%); }
   40%,57% { transform: translateX(-200%); }
   60%,77% { transform: translateX(-300%); }
   80%,97% { transform: translateX(-400%); }
 }
/*=====================================================*/
.z-chart-container {
	display: grid;
	grid-template-columns: repeat(12,1fr);
}

.week-chart {
	grid-column: 3/11;
	background-color: #DDD;
	background-image: url('./picture/bg-chart-2.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	border-radius: 3px;
	margin-bottom: 20px;
}


/*===============REALTIME===============*/

.week-chart .real-time {
	flex-grow: 3;
	background-image: url('./picture/bg-chart.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	padding: 20px 20px;
	border-radius: 3px;

}

.real-time .top {
	width: 100%;
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.top .zingchart-button  {
	background: linear-gradient(to right,#3321ba,#8d4fe2);
	border-radius: 12px;
	text-decoration: none;
	color: #fcfcfc;
	font-size: 13px;
	font-weight: 600;
	padding: 4px 12px;
}

.top .zingchart-button:hover {
	background: #fcfcfc;
	color: #65509e;
}

.top .day-and-time {
	color: #fcfcfc;
	font-size: 15px;
	margin-left: 20px;
	flex-grow: 1;
}

.top .play-all-button {
	text-decoration: none;
	color: #fcfcfc;
	display: flex;
	padding: 9px 15px;
	background-color: #65509e;
	border-radius: 5px;
	align-items: center;
}

.play-all-button .play-button {
	background-image: url('./picture/play-button-arrowhead.svg');
	background-position: center;
	background-size: 13px;
	background-repeat: no-repeat;
	width: 13px;
	height: 13px;
}

.play-all-button .text {
	margin-left: 5px;
	font-size: 14px;
}

.play-all-button:hover {
	background-color: #fcfcfc;
	color: #65509e;
}

.play-all-button:hover .play-button {
	background-image: url('./picture/play-button-arrowhead-2.svg');
 	
}
.real-time .center {
	width: 100%;
	flex-grow: 3;
	height: 200px;
}
.real-time .bottom {
	width: 100%;
	flex-grow: 1;
	color: rgb(162, 162, 162);
	cursor: default;
	display: flex;
	justify-content: space-around;
	font-size: 14px;
}


/*================ITEMS=================*/

.week-chart .items {
	flex-grow: 1;
	padding: 20px 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}

* {
  font-family: sans-serif;
}

.zing-chart-item {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  margin: 0 15px;
}

.zing-chart-item .number {
  color: #fcfcfc;
  font-size: 20px;
}

.zing-chart-item .banner {
  width: 40px;
  height: 40px;
  margin: 0 8px;
  position: relative;
}

.banner .zing-chart-img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.banner .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  border-radius: 3px;
}

.banner .play-button {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('./picture/play-button-arrowhead.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  opacity: 0;
  border-radius: 3px;
}

.zing-chart-item .info {
  position: relative;
  flex-grow: 1;
}

.info .title-wrapper, .info .artist-wrapper {
  display: inline-block;  
}

.info .title-wrapper {
  width: 100%;
  text-decoration: none;
}

.title-wrapper .title {
  cursor: default;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #fcfcfc;
}

.artist-wrapper .artist {
  text-decoration: none;
  color: #a0a0a0;
  font-size: 12px;
}

.zing-chart-item .percent {
  font-size: 15px;
}

.zing-chart-item:hover {
  background-color: rgba(255,255,255,.15);
  border-radius: 3px;
}

.zing-chart-item:hover .overlay, .zing-chart-item:hover .play-button {
  opacity: 1;
}

.zing-chart-item:hover .title {
	color: #6e55b4;
}

.artist-wrapper .artist:hover {
	color: #6e55b4;
}

.items .text {
	align-self: center;
	margin-top: 20px;
}

.items .text a {
	text-decoration: none;
	color: #fcfcfc;
	font-size: 13px;
}
/*===============COUNTRIES===============*/
.countries {	
  	display: flex;
  	grid-column: 3/11; 
}

.country {
	height: 60px;
	flex-basis: 25%;
	overflow: hidden;
	margin-right: 30px;
	border-radius: 3px;
}

.country-song {
	width: 100%;
	height: 100%;
	transition: all 0.6s;
}
.countries .country:hover .country-song {
	transform: scale(1.05);
}
	
@media (max-width: 800px) {
	.week-chart {
		flex-direction: column;
		height: auto;
		grid-column: 2/12;
	}
	.countries {
		grid-column: 2/12;
		margin-top: 20px;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.country {
		margin-right: 0;
		flex-basis: 49%;
		height: 90px;
		margin-bottom: 20px;
		margin-top: 0;
	}

	.res-country {
		margin: 0;
	}
}

/*===================================*/
/*.new-song-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.new-song {
	grid-column: 3/11;
	display: flex;
	cursor: pointer;
	padding: 6px 10px;
}

.new-song .banner {
	width: 40px;
	height: 40px;
	position: relative;
	margin-right: 10px;
}

.banner .new-song-img {
	width: 100%;
	height: 100%;	
}

.banner .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
}

.banner .play-button {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url('./picture/play-button-arrowhead.svg');
	background-position: center;
	background-size: 13px;
	background-repeat: no-repeat;
	opacity: 0;
}

.new-song .info {
	position: relative;
	min-width: 0;
	flex-grow: 1;
}

.info .title-wrapper, .info .artist-wrapper {
	display: inline-block;	
}

.info .title-wrapper {
	width: 100%;
	white-space: nowrap;
 	overflow: hidden;
  	text-overflow: ellipsis;
	text-decoration: none;
}

.title-wrapper .title {
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #32323d;
}

.artist-wrapper .artist {
	text-decoration: none;
	color: #a0a0a0;
	font-size: 12px;
}

.extension {
	display: flex;
	width: 80px;
	justify-content: space-between;
	opacity: 0;
	top: 0;
	right: 0;
	position: absolute;
	height: 100%;
	z-index: 2;
	background-color: #efefef;
}

.extension .heart-button, .extension .more-button {
	width: 100%;
	height: 100%;
	color: #32323d;
	padding: 10px 0;
}

.new-song:hover {
	background-color: #efefef;
}

.new-song:hover .overlay, .new-song:hover .play-button,
.new-song:hover .extension {
	opacity: 1;
}

.new-song:hover .title {
	color: #6e55b4;
}

.new-song .artist:hover {
	color: #6e55b4;
}

.extension .fa-heart:hover {
	color: #6e55b4;
}

.extension .fa-ellipsis-h:hover {
	color: #6e55b4;
}*/

/*======RESPONSIVE===================*/
/*@media (max-width: 900px) {
	.week-chart {
		flex-direction: column;
		grid-column: 2/12;
	}

	.items {
		background-image: url('./picture/bg-chart-2.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.countries {
		margin-top: 20px;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.country {
		margin-right: 0;
		flex-basis: 49%;
		height: 90px;
		margin-bottom: 20px;
		margin-top: 0;
	}

	.res-country {
		margin: 0;
	}
}*/

